@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  overflow-x: hidden;
}

code {
  font-family: 'Cairo', sans-serif;
}

.slick-prev::before,
.slick-next::before {
  opacity: 1;
  border: 1px solid #ccc !important;
  background-color: #7fad39 !important;
  padding: 1rem 0.2rem;
}
